.hamburglar {
	display: inline-block;
    padding: 20px;
}

h1 {
	display: inline-block;
}

h2 {
	width: 50vw;
    margin: 0 auto;
    color: #9b3086;
    border-bottom: 2px solid;
}

.group {
	width: 50vw;
    margin: 0 auto;
    margin-top: 30px;
}

.group a {
	border: 0;
    padding: 10px 10px;
    background: #b8d8b8;
    cursor: pointer;
    margin-right: 15px;
    text-decoration: none;
    color: #427942;
    display: inline-block;
    margin-top: 15px;
}